n8n.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://queue.fal.run/fal-ai/flux-pro/kontext",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key eb020624-43ba-431b-adc7-9335842304e3:759be7ee30b01b5d33e3c82d1d940efd"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "image_url",
              "value": "={{ $json.imageUrl }}"
            },
            {
              "name": "guidance_scale",
              "value": "3.5"
            },
            {
              "name": "num_images",
              "value": "1"
            },
            {
              "name": "output_format",
              "value": "jpeg"
            },
            {
              "name": "safety_tolerance",
              "value": "2"
            },
            {
              "name": "seed",
              "value": "12345"
            },
            {
              "name": "sync_mode",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1728,
        -144
      ],
      "id": "e5db9326-0724-4857-8b5c-301568f0da14",
      "name": "Görsel Oluşturucu"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/flux-pro/requests/{{ $json.request_id }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key eb020624-43ba-431b-adc7-9335842304e3:759be7ee30b01b5d33e3c82d1d940efd"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1536,
        -144
      ],
      "id": "a347756f-c4c9-451d-8cf5-9a814abb85b8",
      "name": "Durum"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1280,
        -144
      ],
      "id": "481fff9e-c9da-4700-b5de-9ad566af60be",
      "name": "Wait",
      "webhookId": "2670b458-f50e-4492-beb2-1ec709b111be"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/flux-pro/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key eb020624-43ba-431b-adc7-9335842304e3:759be7ee30b01b5d33e3c82d1d940efd"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        -160
      ],
      "id": "deaf2d9c-ff03-46bc-8eb7-f6b18a263e75",
      "name": "Sonucu Al"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb932bb5-c5f5-4ebd-bb3b-8e6d908929d2",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1040,
        -144
      ],
      "id": "b52dd34e-b485-4dd8-88b1-ba08f8beda36",
      "name": "If"
    },
    {
      "parameters": {
        "path": "cd11e789-5e4e-4dda-a86e-e1204e036c82",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1968,
        -144
      ],
      "id": "1c02ec2f-a3fd-4ebd-975a-08f43c019bbf",
      "name": "Webhook",
      "webhookId": "cd11e789-5e4e-4dda-a86e-e1204e036c82"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://64.226.75.76:3001/api/images/n8n-result?jobId={{ $('Webhook').item.json.query.query.jobId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{\"images\":[{\"url\":\"{{$json.images[0].url}}\",\"width\":{{$json.images[0].width || 880}},\"height\":{{$json.images[0].height || 1184}}}],\"prompt\":\"{{$('Webhook').item.json.query.prompt || 'Enhance and improve the person in the image with professional quality.'}}\"}]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        -160
      ],
      "id": "f636547f-c067-4bc1-801e-85966f79e65b",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Görsel Oluşturucu": {
      "main": [
        [
          {
            "node": "Durum",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Durum": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sonucu Al": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Sonucu Al",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Durum",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Görsel Oluşturucu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00d56ab6-3caf-4fb9-a67d-142e2995d257",
  "meta": {
    "instanceId": "5ecd23462a5bfd3bdbe29bb08a7e1e22048f9c995c224703731a47c0abc0bdb6"
  },
  "id": "7tfUIn8vU4zJdaEz",
  "tags": []
}