workflowum.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://queue.fal.run/fal-ai/flux-pro/kontext",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key eb020624-43ba-431b-adc7-9335842304e3:759be7ee30b01b5d33e3c82d1d940efd"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.query.prompt }}"
            },
            {
              "name": "image_url",
              "value": "={{ $json.query.imageUrl }}"
            },
            {
              "name": "guidance_scale",
              "value": "3.5"
            },
            {
              "name": "num_images",
              "value": "1"
            },
            {
              "name": "output_format",
              "value": "jpeg"
            },
            {
              "name": "safety_tolerance",
              "value": "2"
            },
            {
              "name": "seed",
              "value": "12345"
            },
            {
              "name": "sync_mode",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "38ab02a3-c5cf-4d40-b56f-5b3b7d6f1fd0",
      "name": "Görsel Oluşturucu"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/flux-pro/requests/{{ $json.request_id }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key eb020624-43ba-431b-adc7-9335842304e3:759be7ee30b01b5d33e3c82d1d940efd"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        0
      ],
      "id": "f6731cd3-9890-4a51-a114-9a1e5a2e141f",
      "name": "Durum"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        672,
        0
      ],
      "id": "ab7d3e37-1b7d-449b-a2db-314eaa026086",
      "name": "Wait",
      "webhookId": "2670b458-f50e-4492-beb2-1ec709b111be"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/flux-pro/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key eb020624-43ba-431b-adc7-9335842304e3:759be7ee30b01b5d33e3c82d1d940efd"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        -16
      ],
      "id": "23b335c9-16df-4fcd-a7d3-b09d8d465406",
      "name": "Sonucu Al"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb932bb5-c5f5-4ebd-bb3b-8e6d908929d2",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        912,
        0
      ],
      "id": "798d1965-a4a7-4e33-814a-c6a8c032f05b",
      "name": "If"
    },
    {
      "parameters": {
        "path": "cd11e789-5e4e-4dda-a86e-e1204e036c82",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -16,
        0
      ],
      "id": "e25f9c9d-402c-4cdb-b1a9-c08b2073e02d",
      "name": "Webhook",
      "webhookId": "cd11e789-5e4e-4dda-a86e-e1204e036c82"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://64.226.75.76:3001/api/images/n8n-result",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"originalImageUrl\": \"{{$('Webhook').item.json.query.imageUrl}}\",\n  \"processedImageUrl\": \"{{$json.images[0].url}}\", \n  \"userId\": \"{{$('Durum').item.json.request_id}}\",\n  \"status\": \"{{$('Durum').item.json.status}}\"\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        -16
      ],
      "id": "72f9f75e-e0be-4e9e-ac55-32578a68ee6c",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Görsel Oluşturucu": {
      "main": [
        [
          {
            "node": "Durum",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Durum": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sonucu Al": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Sonucu Al",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Durum",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Görsel Oluşturucu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dec11e81-0e21-4d6f-a4ae-f31e1a7f29d5",
  "meta": {
    "instanceId": "5ecd23462a5bfd3bdbe29bb08a7e1e22048f9c995c224703731a47c0abc0bdb6"
  },
  "id": "7tfUIn8vU4zJdaEz",
  "tags": []
}